{{define  "sidebar"}}
    <div class="sidebar--links">
        <a href="/admin" class="sidebar--links__item">
            <svg class="sidebar--links__icon">
                <use xlink:href="/dist/icons/sprite.svg#home"></use>
            </svg>
            <p>Home</p>
        </a>
        <a href="/" class="sidebar--links__item active">
            <svg class="sidebar--links__icon">
                <use xlink:href="/dist/icons/sprite.svg#archive"></use>
            </svg>
            <p>Albums</p>
        </a>
    </div>
{{end}}