{{define  "sidebar"}}
    <div class="sidebar--links">
        {{ range .SideBarLinks }}
        <a href="{{.LinkHref}}" class="sidebar--links__item">
            <svg class="sidebar--links__icon">
                <use xlink:href="/app/icons/sprite.svg#{{.LinkIcon}}"></use>
            </svg>
            {{.LinkTitle}}
        </a>
        {{ end }}
    </div>
{{end}}