{{ define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ template "title" .}} - Record Collection</title>
        <link rel="stylesheet" href="/dist/main.css">
    <link rel="shortcut icon" href="/dist/favicon.ico" type="image/x-icon">
    </head>
    <body>
    <header class="header header-light">
        <!-- Navigation -->
        {{ template "navigation" .}}
    </header>
    <!-- Main -->
    <main class="container">
        <div class="sidebar">
            {{ template "sidebar" .}}
        </div>
        <div class="section">
            {{ template "section" .}}
        </div>
    </main>
    <!-- Footer -->
    {{template "footer" .}}
{{ end }}