.albums-container {
  background-color: var(--column-bg);
  padding: 30px;
  border-radius: 5px;
}

table {
  width: 100%;

}

tr {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

.tracklist-table-headings,
.albums-table-headings {
  font-family: $font-bold;
}

th {
  border-bottom: 1px solid #dddddd;
}


tr:not(:first-of-type) {
  border-bottom: 1px solid #ddd;
}

tr:last-of-type {
  border-bottom: none;
}

.albums-table-action-icons {
  display: flex;
}

.albums-table-action-icons .edit,
.albums-table-action-icons .remove {
  display: flex;
  align-items: center;
}
.action-icon  {
  width: 30px;
  height: 18px;
  margin-right: 2px;
  color: var(--text-body); 
}

.action-icon.sm {
  width: 18px;
}

.albums-table-action-icons .edit {
  margin-right: 7px;
}

.albums-table-action-icons .remove {
  margin-right: 7px;
  border-left: 1px solid var(--borderHeader);

}

.albums-table-action-icons .edit:hover,
.albums-table-action-icons .edit:hover .action-icon {
  color: #006f00;
  cursor: pointer;
  transition: all .2s;
}

.albums-table-action-icons .remove:hover,
.albums-table-action-icons .remove:hover .action-icon  {
  color: #db0000;
  cursor: pointer;
  transition: all .2s;
}

.albums-top-section { 
  display: flex;
  justify-content: flex-end;
}

.add-tracklist-artist-container {
  display: flex;
  justify-content: flex-start;
}


.add-track,
.add-record {
  display: flex;
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;
  font-family: $font-bold;
}

.add-track-artist,
.add-track {
  cursor: pointer;
}

.add-track {
  margin-bottom: 20px;
}

.add-track-artist {
  display: flex;
  padding: 10px 0;
  align-items: center;
  font-family: $font-regular;
}

.add-icon  {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  color: var(--text-body);

  &.small {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
}

img.albums-thumbnail {
  width: 100px;
  border-radius: 2px;
}


.add-tracklist-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

}


.td-width-sm {
  width: 80px;
}

.td-width-md {
  width: 120px;
}

.td-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}