/* ------ Hero Section ------ */
.hero-img {
  height: 100vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }
}

.hero-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;

  h1 {
    color: #fff;
  }

  span {
    display: block;
    line-height: 1.3;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}


/* ------ Section Welcome ------ */
.section-welcome {
  &--text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 0 50px;

    p {
      margin-top: 10px;
      width: 80%;
      text-align: center;
    }
  }
  &--images {
    display: flex;
    flex-direction: row;
    img {
      width: 50%;
      padding: 5px;
      object-fit: cover;
      overflow: auto;
    }
  }
}

/* ------ Section Project ------ */
.section-project {
  &--wrapper {
    display: flex;
    gap: 50px;
    max-width: 1900px;


    @include breakpoint(xl) {
      flex-direction: column;
    }
  }

  &--sticky {
    position: sticky;
    top: 110px;
  }

  &--heading {
    letter-spacing: -1.5px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  &--sub-heading {
    text-transform: uppercase;
    color: theme-colors("bg-color", "primary");
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.78px;
    margin-bottom: 30px;

  }
  &--images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: flex-end;

    img {
      width: 50%;
      padding: 5px;
      object-fit: cover;
    }
  }

  &--text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      margin-top: 10px;
      width: 80%;
      margin-bottom: 25px;
    }
  }
}

hr {
  border: none;
  border-bottom: 1px solid rgba(20, 20, 20, 0.08);
  margin-bottom: 40px;
  margin-top: 40px;
}

.project-details-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap');

