/*
Font: 		II Increments Sans
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T14824/ii-increments-sans
Foundry: 	Evan Lelliott
Foundry: 	https://www.youworkforthem.com/designer/1463/evan-lelliott
Copyright:	
Version: 	17
Created:	September 28, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'IIIncrementsSansRegular';
	src: url('ii-increments-sans-regular.woff2') format('woff2');

}

@font-face {
	font-family: 'IIIncrementsSansLight';
	src: url('ii-increments-sans-light.woff2') format('woff2');
}

@font-face {
	font-family: 'IIIncrementsSansMedium';
	src: url('ii-increments-sans-medium.woff2') format('woff2');
}


@font-face {
	font-family: 'IIIncrementsSansBold';
	src: url('ii-increments-sans-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IIIncrementsSansBlack';
	src: url('ii-increments-sans-black.woff2') format('woff2'),
}

@font-face {
	font-family: 'IIIncrementsSansLightOblique';
	src: url('ii-increments-sans-light-oblique.woff2') format('woff2');

}
