.section {
  margin-top: 50px;
  padding: 0 20px;
}
.container {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px 1fr;
}

.main {
  grid-area: main;
}

.column-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
}

.column {
  h2 {
    font-size: 26px;
  }
  &--item {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--column-bg);
  }
}


.custom-options-selected--item {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 6px 8px;
  background: #ffe3ea;
  border-radius: 4px;
  font-size: 14px;
  font-family: $font-medium;

  svg {
    margin-left: 5px;
  }
 
}

.custom-options-selected--item:first-of-type {
  margin-top: 5px;
}
.custom-options-selected--item:not(:last-of-type) {
  margin-bottom: 5px;
}


.status-icon {
  width: 30px;
  height: 20px;
}
.status-icon.pulblished {
  color: #2CCBA0;
}

.status-icon.draft {
  color: #FF8138;
}