{{template "base".}}

{{define "title"}}Add Record{{end}}


{{define "section"}}
  <div class="column-container">

    <div class="column">
      <h2>General</h2>
      <div class="column--item">
        <form enctype="multipart/form-data" action="/record/create" method="post">
  
          <div class="form-control">
              <label class="form-label" for="inputTitle">Title</label>
              
              <span class="form-alert"></span>
              <input class="input-control input-control--small" type="text"
                     name="inputTitle"
                     id="inputTitle" placeholder="Title">
          </div>

          <div class="form-control">
            <label class="form-label" for="inputYear">Artist(s)</label>
            <div class="select">
              <div id="val-category" class="custom-select custom-select-category">
        
                  <div>
                      <!-- <span class="label">Category</span> -->
                      <span class="value">Select artist</span>
        
                      <select name="inputCategory" id="inputCategory">
                          <option>1</option>
                      </select>
        
                  </div>
        
                  <span class="icon dropdown-icon"></span>
        
              </div>

              
              <div class="option">
                  <ul class="custom-option">
                      <li data-id="1">Krzysztof Penderecki</li>
                      <li data-id="2">Don Cherry</li>
                      <li data-id="3">Karlheinz Stockhausen</li>
              </div>
              <div class="custom-options-selected">
                <span class="custom-options-selected--item">Krzysztof Penderecki
                 <span class="icon-close"></span>
                </span>
                <span class="custom-options-selected--item">Don Cherry
                  <span class="icon-close"></span>   
                </span>
                <span class="custom-options-selected--item">Karlheinz Stockhausen
                  <span class="icon-close"></span>
                </span>
              </div>
        
          </div>
            
        </div>
        
  
        
        
          <div class="form-control">
              <label class="form-label"
                     for="inputYear">Realase Date</label>
            
                  
              
              <span class="form-alert is-danger"></span>
              <input class="input-control input-control--small" type="text" name="inputYear"
                     id="inputYear" placeholder="Release Date">
          </div>

          <div class="form-control">
            <label class="form-label"
                   for="inputLabel">Label</label>
           
            <input class="input-control input-control--small" type="text" name="inputLabel"
                   id="inputLabel" placeholder="Label">
        </div>

        <div class="form-control">
          <label class="form-label" for="inputYear">Genre(s)</label>
          <div class="select">
            <div id="val-category" class="custom-select custom-select-category">
      
                <div>
                    <!-- <span class="label">Category</span> -->
                    <span class="value">Select Genre</span>
      
                    <select name="inputCategory" id="inputCategory">
                        <option>1</option>
                    </select>
      
                </div>
      
                <span class="icon dropdown-icon"></span>
      
            </div>
            <div class="option">
                <ul class="custom-option">
                    <li data-id="1">Classical</li>
                    <li data-id="2">Jazz</li>
                    <li data-id="3">Avant-garde</li>
                </ul>
            </div>
      
        </div>
          
      </div>
        
        
        
          <!-- <div class="form-control">
              <label for="inputCover">Image</label>
        
          <input class="input-control input-control--small" type="file" name="inputCover" />
           
                  <span class="error-message">{{.}}</span>
            
          </div> -->
        
          <!-- <input type="submit" value="Add Record" class="btn btn-small btn-primary"/> -->
        
    
        
     
        
        
        {{/*        <div class="select">*/}}
        {{/*            <div id="val-category" class="custom-select custom-select-category">*/}}
        
        {{/*                <div>*/}}
        {{/*                    <span class="label">Artist</span>*/}}
        {{/*                    <span class="value">Select artist</span>*/}}
        {{/*                </div>*/}}
        
        {{/*                <span class="icon"></span>*/}}
        
        {{/*            </div>*/}}
        {{/*            <div class="option">*/}}
        {{/*                <ul class="custom-option">*/}}
        {{/*                    <li>Krzysztof Penderecki</li>*/}}
        {{/*                    <li>Don Cherry</li>*/}}
        {{/*                </ul>*/}}
        {{/*            </div>*/}}
        
        {{/*        </div>*/}}
        
        
        
        </form>
      </div>

    </div>
    
    <div class="column">
      <h2>Tracklist</h2>
      <div class="column--item">

      </div>
    </div>
  </div>





{{end}}