{{template "base".}}

{{define "title"}}Add Record{{end}}


{{define "section"}}
  <div class="column-container">
  

    <div class="column">
      <h2>General</h2>
      <div class="column--item">
        <!-- enctype="multipart/form-data" -->
        <form action="/admin/record/new" method="post">

          {{ range .FormOptions }} 
            <div class="form-control">
                <label class="form-label" for="{{.FormFor}}">{{.FormName}}</label>
                <span class="form-alert"></span>
                <input class="input-control input-control--small" type="{{.FormType}}" name="{{.FormFor}}" placeholder="{{.FormName}}">
            </div>
          {{ end }}

          <div class="form-control">
            <label class="form-label">Labels</label>
            <div id="labels" class="select">
              <div class="custom-select custom-labels">
                  <span class="value">Select label</span>
                  <span class="icon dropdown-icon"></span>
              </div>
              <div class="option">
                  <div class="custom-option">
                    <input autocomplete="off" class="input-control input-control--small input-control--nested filter" type="text" name="search" placeholder="Search">
                    <div id="labels" class="json-results">
                      {{if .Labels}}
                        {{range .Labels}}
                          <label>
                            <input type="checkbox" name="label-name" value="{{.ID}}" data-input="{{.Name}}">{{.Name}}
                          </label>
                        {{end}}
                      {{end}}
                      <!-- <div class="no-results-found">
                        <span class="icon exclamation-icon"></span>
                        <p>No results found!</p>
                      </div> -->
                      
                    </div>
                  </div>
              </div>
              <div class="custom-options-selected"></div>
            </div>  
          </div>

         

          <div class="form-control">
            <label class="form-label">Artist(s)</label>
            <div id="artists" class="select">
              <div class="custom-select custom-artists">
                  <span class="value">Select artist</span>
                  <span class="icon dropdown-icon"></span>
              </div>
              <div class="option">
                <div class="custom-option">
                  <input autocomplete="off" class="input-control input-control--small input-control--nested filter" type="text" name="search" placeholder="Search">
                  <div id="artists" class="json-results">
                    {{if .Artists}}
                      {{range .Artists}}
                        <label>
                          <input type="checkbox" name="artist-name" value="{{.ArtistID}}" data-input="{{.Name}}">{{.Name}}
                        </label>
                      {{end}}
                    {{end}} 
                      <!-- <div class="no-results-found">
                        <span class="icon exclamation-icon"></span>
                        <p>No results found!</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="custom-options-selected"></div>
            </div>  
          </div>


        <div class="form-control">
          <label class="form-label">Genre(s)</label>
          <div id="genres" class="select">
            <div class="custom-select custom-genres">
                <span class="value">Select Genre</span>
                <span class="icon dropdown-icon"></span>
            </div>
            <div class="option">
              <div class="custom-option">
                <input autocomplete="off" class="input-control input-control--small input-control--nested filter" type="text" name="search" placeholder="Search">
                <div id="genres" class="json-results">
                {{if .Genres}}
                  {{range .Genres}}
                    <label>
                      <input type="checkbox" name="genre-name" value="{{.GenreID}}" data-input="{{.GenreName}}">{{.GenreName}}
                    </label>
                  {{end}}
                {{end}}
                <!-- <div class="no-results-found">
                  <span class="icon exclamation-icon"></span>
                  <p>No results found!</p>
                </div> -->
              </div>
              </div>
            </div>
            <div class="custom-options-selected"></div>
          </div>  
        </div>
      
    
        
        
        
          <!-- <div class="form-control">
              <label for="inputCover">Image</label>
        
          <input class="input-control input-control--small" type="file" name="inputCover" />
           
                  <span class="error-message">{{.}}</span>
            
          </div> -->
        
          <!-- <input type="submit" value="Add Record" class="btn btn-small btn-primary"/> -->
        
    
        
     
        

          

        <button type="submit">Save</button>
        
        
        </form>
      </div>

    </div>
    
    <div class="column">
      <h2>Tracklist</h2>
      <div class="column--item">

      </div>
    </div>
  </div>





{{end}}