{{ template "base" .}}

{{ define "title"}}All Records{{end}}


{{ define "section"}}
<div class="albums-top-section">
  <a class="add-record" href="/admin/record/new">
    <svg class="add-icon">
      <use xlink:href="/app/icons/sprite.svg#file"></use>
    </svg>
    Add record
  </a>
</div>
<div class="albums-container">
  <h3>Albums</h3>
  <div class="albums-table">
    <table>
      <tbody>
        <tr class="albums-table-headings">
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Artist</th>
          <th>Release Date</th>
          <th>Label</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        {{if .Records}}
          {{ range $i, $r := .Records}}
            <tr data-album-id="{{.ID}}">
              <td>{{indexPlusOne $i}}</td>
              <td><img class="albums-thumbnail" src="{{.Image}}" alt="{{.Title}}-cover"></td>
              <td>{{.Title}}</td>
              <td>
                <ul>
                {{ range .RecordArtist}}
                  <li>{{.Name}}</li>
                {{end}}
                </ul>
              </td>
              <td>{{.ReleaseDate}}</td>
              <td>
                <ul>
                  {{range .RecordLabel}}
                    <li>{{.Name}}</li>
                  {{end}}
                </ul>
              </td>
              {{ if .Status}}
                <td> 
                  <svg class="status-icon pulblished">
                    <use xlink:href="/dist/icons/sprite.svg#dot-filled"></use>
                  </svg>
                  <span>Published</span>
                </td>
              {{else}}
                <td>
                  <svg class="status-icon draft">
                    <use xlink:href="/dist/icons/sprite.svg#dot-filled"></use>
                  </svg>
                  <span>Draft</span>
                </td>
              {{end}}
              <td>
                <div class="albums-table-action-icons">
                  <div class="edit">
                    <svg class="action-icon">
                      <use xlink:href="/dist/icons/sprite.svg#edit"></use>
                    </svg>
                    Edit
                  </div>
                  <div class="remove">
                    <svg class="action-icon">
                      <use xlink:href="/dist/icons/sprite.svg#remove"></use>
                    </svg>
                    Remove
                  </div>
                </div>
              </td>
            </tr> 
          {{end}}
        {{end}}
      </tbody>
    </table>
  </div>
</div>

{{end}}

    
