{{ template "base" .}}

{{ define "title"}}Admin{{end}}


{{ define "section"}}

        <h1>Home page</h1>

        <p>Records</p>

        <div>
                {{if .Records}}
                {{ range .Records}}

                        <a href="/admin/records/view/{{.ID}}">#{{.ID}} - {{ .Title }}</a>
                        <br>
                {{end}}
               
                {{else}}
                        <p>No records!</p>
                {{end}}

        </div>
        


{{end}}